/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@900&display=swap');

body{
    font-family: 'Big Shoulders Inline Display', cursive;
    color:red;
    background-color: black;
    font-size: 250%;
}

a{
    color:red;
}